<div class="posts">
  <div class="control">
    <label>Show:
      <input type="number" class="input" min="1" [(ngModel)]="itemsPerPage" (input)="onPostNumInput()">
    </label>
  </div>
  <ul>
    <li *ngFor="let post of posts">
      {{ post.id }})
      {{ post.title }}
      <hr> {{ post.body }}
    </li>
  </ul>

  <div class="control">
    <button (click)="onPage(page - 1)" [disabled]="page === 1" >Previous</button>
    <button class="onpage" *ngFor="let page of pages" (click)="onPage(page)"> {{ page }} </button>
    <button (click)="onPage(page + 1)">Next</button>
  </div>

</div>