.posts {
    border: 2px solid blue;
    max-width: 500px;
    margin: 0 auto;
}

ul {
    list-style-position: inside;
    list-style-type: none;
}

ul li {
    margin: 35px 50px 0px 0px;
    text-align: justify;
}