<div class="posts">
  <!-- <div class="control">
    <label>Show:
      <input type="number" class="input" min="0" [(ngModel)]="itemsPP" (input)="test(itemsPP)">
    </label>
  </div> -->
  <ul>
    <li *ngFor="let post of posts">
      {{ post.title }}
      <hr> {{ post.body }}
    </li>
  </ul>

  <div class="control">
    <button (click)="onPrev(page)" [disabled]="page === 1" >Previous</button>
    <button class="onpage" *ngFor="let page of pages" (click)="onPage(page)"> {{ page }} </button>
    <button (click)="onNext(page)">Next</button>
  </div>

</div>